{% extends 'index.html' %}

{% block page-content %}

<div class="col-md-4"></div>

 <div class="center-block col-lg-4">
    <div class="panel panel-danger panel-dark panel-body-colorful widget-profile widget-profile-centered">
        <div class="panel-heading">
            <img src="/static/assets/demo/avatars/1.jpg" alt="" class="widget-profile-avatar">
            <div class="widget-profile-header">
                <span><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">John Doe </font></font></span><br>

            </div>
        </div> <!-- / .panel-heading -->
        <div class="panel-body"><label for="webssh">  <div class="widget-profile-text" style="padding: 0;">
                   <a id="webssh" href="http://192.168.204.192:4200/"><span style="font-size: x-large; color: #fef8f8;">登陆堡垒机</span></a>
            </div></label>

        </div>
    </div>
 </div>


{% endblock page-content %}

